/*style.less*/

/*color palette*/
@white: #ffffff;
@black: #000000;
@red:  rgb(255,0,0);

/*font attributes*/
@baseFontSize: 16px;

body {
    font-size: @baseFontSize;
}
header {
    background-color: @black;
    height: 55px;
    h1{
        color: @white;
        padding: 12px;
    }
}
nav {
    background-color: @black;
    z-index: 3;
    ul {
        text-align: center;
    }
    a {
        color: white;
        text-decoration-line: none;
        
    }
}
main {
    padding: 7px;

        line-height: 1.5em;
    
}
img {
    display: none;
}
section {
    padding: 18px;
    h2 {
        padding-bottom: 7px;
    }
    h3 {
        padding: 12px 0 12px 0;
    }
   
    
    li {
        padding: 8px;
        
    }
    
}
aside {
    display: none;
}

footer {
    /*background-color: @red;
    padding: 2.4em;*/
    
    p {
        background-color: @red;
        padding: 2.4em;
        color: @black;
        float: left;
      }
    ul {
        li {
            float: right;
            display: inline-block;
            padding: 12px;
        }
    }
    /*ul { 
        text-align: center;
        float: right;
        li {
            list-style-type: none;
            float: none;
            display: inline-block;
            i {
                float: right;
                background: @red;
                color: @black;
                width: 47px;
                height: 47px;
                border-radius: 30px;
                text-align: center;
                margin-right: 10px;
                padding-top: 15%;
            }
           }
        }*/
}

/*#sidebar {
    display: none;
}*/
/*style for hamburger menu*/
/*body{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
	width:100%;
	height:100vh;
  	background:#000000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}*/

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
/*header{}
span{padding-left:20px;}
a{color:#336699;}*/

/*end of hamburger menu style*/

// TABLET STYLESHEET
@media screen and (min-width: 768px) {
    img {
        display: block;
        width: 100%;
        margin: -7;
    }
    aside {
        display: block;
        float: right;
    } 
    #courses {
        display: none;
    }
    #faq {
        display: none;
    }
    #registration {
        display: none;
    }
    #contact {
        display: none;
    }
    
}